body {
  background-image: url("../img/bgside.jpg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
}

/* DESCRIPTION CONTAINER */
.about__description {
  width: 100%;
  height: 640px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 23px;
  padding-left: 13%;
  padding-right: 13%;
  padding-top: 4%;
}
.about__description h1, .about__description h2 {
  margin-left: 250px;
  font-size: 25px;
}
.about__description h1 {
  margin-top: 40px;
  margin-bottom: 15px;
}
.about__description h2 {
  margin-bottom: 70px;
}

@media (max-width: 940px) {
  .about__description {
    width: 100%;
    height: 500px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
  }
  .about__description h1, .about__description h2 {
    margin-left: 230px;
    font-size: 23px;
  }
  .about__description h1 {
    margin-top: 30px;
    margin-bottom: 12px;
  }
  .about__description h2 {
    margin-bottom: 70px;
  }
}
@media (max-width: 840px) {
  .about__description {
    width: 100%;
    height: 500px;
    /*font-family: "Calibri";*/
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 17px;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5%;
  }
  .about__description h1, .about__description h2 {
    margin-left: 240px;
    font-size: 21px;
  }
  .about__description h1 {
    margin-top: 35px;
    margin-bottom: 12px;
  }
  .about__description h2 {
    margin-bottom: 70px;
  }
}
@media (max-width: 660px) {
  .about__description {
    width: 100%;
    height: 420px;
    /*font-family: "Calibri";*/
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 17px;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5%;
  }
  .about__description img {
    height: auto;
    width: 200px;
  }
  .about__description h1, .about__description h2 {
    margin-left: 220px;
    font-size: 18px;
  }
  .about__description h1 {
    margin-top: 30px;
    margin-bottom: 12px;
  }
  .about__description h2 {
    margin-bottom: 70px;
  }
  .about__description p {
    font-size: 14px;
  }
}
@media (max-width: 590px) {
  .about__description {
    height: 450px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    align-items: center;
  }
  .about__description img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
  }
  .about__description h1, .about__description h2 {
    margin-left: 0;
    font-size: 16px;
  }
  .about__description h1 {
    margin-top: 130px;
    margin-bottom: 0px;
  }
  .about__description h2 {
    margin-bottom: 20px;
  }
  .about__description p {
    font-weight: 600;
  }
}
@media (max-width: 430px) {
  .about__description {
    height: 500px;
  }
}
/* CONTACT CONTAINER */
.about__contact {
  width: 100%;
  height: 900px;
  background-color: #000000D1;
  color: white;
  font-family: "Cairo", sans-serif;
  padding-left: 13%;
  padding-right: 13%;
  padding-top: 3%;
  font-size: 20px;
}
.about__contact h1 {
  font-size: 40px;
  border-bottom: solid #ed4344;
}
.about__contact p {
  margin-top: 52px;
  font-size: 30px;
}
.about__contact a {
  text-decoration: none;
  transition: color 0.3s ease 0s;
  color: white;
}
.about__contact a:hover {
  color: #ec4343;
}

img.ac {
  vertical-align: middle;
  padding-right: 10px;
}

.dc_img_txt {
  max-width: 150px;
}
.dc_img_txt:hover {
  filter: invert(48%) sepia(57%) saturate(6132%) hue-rotate(339deg) brightness(98%) contrast(88%);
}

.un_img_txt {
  max-width: 200px;
}
.un_img_txt:hover {
  filter: invert(48%) sepia(57%) saturate(6132%) hue-rotate(339deg) brightness(98%) contrast(88%);
}

@media (max-width: 940px) {
  .about__contact {
    height: 720px;
    font-size: 15px;
  }
  .about__contact h1 {
    font-size: 30px;
  }
}
@media (max-width: 340px) {
  .about__contact {
    font-size: 14px;
    height: 580px;
  }

  img.ac {
    height: 21px;
  }

  .un_img_txt img {
    height: 30px;
  }
}
/* VIEDO CONTAINER */
.body__about__video {
  margin: 0px 0px;
  width: 100%;
  height: 750px;
  display: table;
}

.about__video {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

iframe {
  border: 0;
  overflow: hidden;
  width: 1000px;
  height: calc(1000px * 9/16);
}

@media (max-width: 1024px) {
  .body__about__video  {
    height: 650px;
  }

  iframe {
    width: 900px;
    height: calc(900px * 9/16);
  }
}

@media (max-width: 930px) {
  .body__about__video  {
    height: 550px;
  }

  iframe {
    width: 700px;
    height: calc(700px * 9/16);
  }
}

@media (max-width: 740px) {
  .body__about__video  {
    height: 350px;
  }

  iframe {
    width: 400px;
    height: calc(400px * 9/16);
  }
}

@media (max-width: 425px) {
  .body__about__video  {
    height: 300px;
  }

  iframe {
    width: 350px;
    height: calc(350px * 9/16);
  }
}

@media (max-width: 370px) {
  .body__about__video  {
    height: 200px;
  }

  iframe {
    width: 300px;
    height: calc(300px * 9/16);
  }
}